* {
    scrollbar-width: thin;
    scrollbar-color: #707070 #f8f9fa;
}
.truck-table tr th:first-child {
    width: 10px;
}
.truck-table tr th:nth-child(6),
.truck-table tr th:nth-child(3),
.truck-table tr th:nth-child(4),
.truck-table tr th:nth-child(5) {
    width: 200px;
}

.truck-table tr th:last-child {
    text-align: center;
    width: 150px;
}
.truck-table tr td:last-child {
    justify-content: space-around;
    display: flex;
}
.branch-title {
    font-size: 20px;
    text-transform: capitalize;
}

.sub-title {
    font-size: 15px;
    text-transform: capitalize;
}
.cargobox-table img {
    height: 100%;
    width: 100%;
    max-height: 100px;
    object-fit: contain;
}
.cargobox-table tr td {
    width: 20%;
    min-width: 100px;
}
.custom-swal-text {
    margin-top: 20px;
}
.tcaps {
    text-transform: capitalize;
}
.cargoprice-table tr th:nth-child(2),
.cargoprice-table tr td:nth-child(2) {
    width: 30%;
    text-align: center;
}
.cargoprice-table tr th:first-child,
.cargoprice-table tr td:first-child {
    width: 30%;
    text-align: start;
}
.cargoprice-table tr th:last-child,
.cargoprice-table tr td:last-child {
    width: 30%;
    text-align: center;
}

.editinput {
    border: 0;
    background-color: transparent;
    width: max-content;
    text-align: center;
}
.editinput:focus {
    outline: none;
    border: none;
}
.rednatext {
    color: rgb(117, 0, 0);
}
.orders-table tr th:nth-child(1),
.orders-table tr td:nth-child(1) {
    width: 4%;

    text-align: center;
}
.orders-table tr th:nth-child(2),
.orders-table tr td:nth-child(2) {
    width: 13%;
}
.delivery-drag-title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0px;
}
.order-details-packinglist h6 {
    margin-top: 10px;
    font-size: 18px;
}
.employee-counts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.employee-counts h5 {
    margin-top: 10px;
}
.order-tab {
    padding-left: 30px;
}
.accountant-revenue {
    padding-right: 70px;
}
@media screen and (max-width: 500px) {
    .order-tab {
        padding-left: 0px;
    }
    .order-top-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .order-top-part .dataTable-search {
        width: 100%;
    }
    .order-top-part .dataTable-search input {
        width: 100%;
    }
    .order-top-part .scan-btn {
        margin-bottom: 10px;
    }
    .accountant-revenue {
        padding-right: 20px;
    }
}
